*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    font-size: 62.5%;
}

:root {
    --primary-color: #a8d5e2;
    --secondary-color: #e1f0f6;
    --text-color: #212529;
    --accent-color: #ffd449;
    --danger-color: #e96565;
    --width-main-container: 90%;
    --white: #FFFFFF;
    --shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

@font-face {
    font-family: 'Poppins';
    src: url(./assets/fonts/Poppins-Regular.woff2) format('woff2'),
         url(./assets/fonts/Poppins-Regular.woff) format('woff');
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
}

main {
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding-inline: 1rem;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

i, button {
    color: var(--primary-color);
}

.main-container {
    width: 100%;
    width: var(--width-main-container);
    margin-block: 7rem;
    margin-inline: auto;
    display: grid;
    grid-template-areas: 
        'form'
        'list';
    grid-template-rows: auto auto;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    justify-items: center;   
    position: relative;
}

.form-container {
    grid-area: form;
    background-color: var(--primary-color);
    padding-inline: clamp(1.5rem, 1vw + 1.5rem, 2.5rem);
    padding-block: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
    display: flex;
    flex-direction: column;
    width: 100%;  
}

.form-container form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: clamp(0.5rem, 0.5vw + 0.2rem, 1rem);
}

.input-container {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.input-container input {
    padding-inline: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    padding-block: clamp(0.4rem, 0.4vw + 0.5rem, 0.8rem);
    border-radius: 0.2rem;
    border: none;
    width: 100%;
}

.list-container {
    grid-area: list;
    width: 100%;
    padding-inline: clamp(1.5rem, 1vw + 1.5rem, 2.5rem);
    padding-block: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
    box-shadow: var(--shadow);
    background-color: var(--white);
}

.add-btn {
    background-color: var(--accent-color);
    color: var(--text-color);
    padding-inline: clamp(2.5rem, 2vw + 0.5rem, 2.5rem);
    padding-block: clamp(0.4rem, 0.4vw + 0.5rem, 0.8rem);
    border-radius: 0.2rem;
}

ul {
    list-style: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: clamp(1.6rem, 1.6vw + 0.2rem, 2rem);
    padding-block: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
    position: relative;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    padding-block: clamp(1rem, 1vw + 0.5rem, 1.6rem);
    background-color: #F8F9FA;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    position: relative;
    color: var(--text-color);
}

.container-check-btn, .buttons-container {
    display: flex;
    align-items: center;
    gap: clamp(1.4rem, 1.2vw + 0.2rem, 1.4rem);
}

/* .fa-check {
    visibility: hidden;
} */

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
}

.check-btn  {
    outline: 2px solid var(--primary-color);
}

h1 {
    align-self: flex-start;
    color: #212529;
}

.edit-container {
    width: 95%;
    position: absolute;
    top: 20%;
    background-color: #E6E6FA;
    padding-inline: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    padding-block: clamp(1rem, 0.5vw + 0.5rem, 1.4rem);
    border-radius: 0.4rem;
    display: none;
    justify-content: space-around;
    gap: clamp(1.2rem, 1.2vw + 0.2rem, 1.4rem);
    box-shadow: var(--shadow);
    color: var(--text-color);
}

.edit-container input {
    width: 60%;
    border: 2px solid #212529b9;
    border-radius: 0.4rem;
    background-color: transparent;
    padding-inline: clamp(1rem, 1vw + 0.5rem, 1.5rem);
    flex-grow: 1;
}

.edit-container button {
    color: var(--text-color);
    padding-inline: clamp(1.2rem, 0.8vw + 0.8rem, 1.8rem);
    padding-block: clamp(0.4rem, 0.4vw + 0.2rem, 0.7rem);
    border-radius: 0.2rem;
}


.edit-btn {
    background-color: var(--primary-color);
}

.cancel-btn {
    background-color: var(--danger-color);
}

.error-container {
    display: none;
    width: 90%;
    background-color: var(--danger-color);
    color: var(--text-color);
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
    padding-block: 1.8rem;
    padding-inline: 1.5rem;
    border-radius: 0.6rem;
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    justify-content: space-between;
    gap: clamp(0.5rem, 0.5vw + 0.2rem, 1rem);
}

.error-container button {
    color: #9e3c3c;
    font-size: clamp(1.2rem, 1vw + 0.5rem, 1.5rem);
}

.visible-display {
    display: flex;
}

.error-container button:focus {
    outline: 2px solid #000;
    padding-inline: 2px;
    padding-block: 2px;
}


/* Hover Effects */

button, i {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.fa-pen-to-square:hover, .fa-trash:hover, .fa-check:hover, .error-container button:hover {
    transform: scale(1.1);
}

.buttons-container button {
    padding-inline: 0.2rem;
    padding-block: 0.2rem;
}

.edit-btn:hover {
    background-color: #7ec8d6;
}

.cancel-btn:hover {
    background-color: #e95757;
}

.add-btn:hover {
    background-color: #ffe066;
}

.fa-pen-to-square:hover {
    color: #7ec8d6;
}

.fa-trash:hover {
    color: var(--danger-color);
}

.container-check-btn button:hover {
    color: #7ec8d6;
    outline: 2px solid #7ec8d6;
}

/* Typography */

h1 {
    font-size: clamp(2.5rem, 2.5vw + 1rem, 3.5rem);
}

.add-btn, ul p {
    font-size: clamp(1.4rem, 0.8vw + 0.2rem, 1.8rem);
}

.fa-pen-to-square, .fa-trash {
    font-size: clamp(1.6rem, 1vw + 0.5rem, 1.8rem);
}

/* Responsive Design */

@media screen and (min-width: 768px) {

    :root {
        --width-main-container: 80%;
    }

    .edit-container {
        width: 95%;
    }

    .error-container {
        width: 70%;
    }

    .main-container {
        margin-block: 6rem;
    }
   
}
